<!-- This code will display form submission error messages! -->
<!-- I had to adjust the partial to accept an object named 'object',
before it was using the instance variable "@user" -->

<% if object.errors.any? %>
  <div id="error_explanation">
	<div class="alert alert-error">
		Umm, dude you made <%= pluralize(object.errors.count, "mistake") %>.
	</div>
	<ul>
	<% object.errors.full_messages.each do |msg| %>
	  <li>* <%= msg %></li>
	<% end %>
	</ul>
  </div>
<% end %>