<% provide(:title, 'FAQ')%>
<div class="container stretch bump1">
  <div class="hero">
    <h1>Frequently Asked Questions</h1>
  </div>
</div>

<div class="container bump1">
  <div class="row">
    <span class="span12">
      <dl><dt>How do I order food?</dt>
      <dd>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
      </dd></dl>
      <dl><dt>How do you make money?</dt>
      <dd>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. 
      </dd></dl>
      <dl><dt>How do I add my business?</dt>
      <dd>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco.
      </dd></dl>
      <dl><dt>Where can I get X dish?</dt>
      <dd>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.
      </dd></dl>
    </span>
  </div>
</div>