/*Change Bootstrap framework variables here*/
$navbarLinkColor: #D8D8D8;
$navbarBackground: #001A57;
$navbarBackgroundHighlight: #113AA6;

/*Importing Bootstrap framework
Note: This will respect the variable assignments above!*/

@import "bootstrap";


/*Hartl's CSS with some tweaks*/


/* mixins, variables, etc. */

/* define box_sizing, which we later use
as formatting for the debug dump */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.navbar .nav > li > a {
	font-size: 1.1em;
	font-weight: bold;
	letter-spacing: 0.3px;
}

/* footer */

footer {
  color: #999;
  border-top: 1px solid #BBB;
  margin-top: 65px;
  padding-top: 5px;
}


footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/*Center page content*/

body {
  background-color: #FFFAE9;
  padding-top: 35px;
}

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center h1 {
  margin-bottom: 5px;
}

.center h2 {
  margin-bottom: 20px;
}

.center {
	text-align:center;
}

p {
	margin-top: 12px;
}

/*Typography tweaks from Hartl's book*/

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}


/* Changed padding for h1 to 30px
from 10px to create breathing room for "sign up!" header 
on the new signup page at /signup */

/* "Create my account" button feels
uncomfortably close to "confirmation" input box
on the signup page at /signup */

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 35px;
  text-align: center;
  padding-top: 30px;
  color: #3B321F;
}

.hero-unit h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 25px;
  text-align: center;
  font-weight: normal;
  color: #A0815F;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

dl {
  font-size: 15px;
}

/*Add your CSS Here*/

.hero-unit {
  background-color: #FFF5DE;
  border-bottom: 1px solid #C8B48C;
}

.bump1 {
  padding-top: 30px;
}

.bump2 {
  padding-top: 50px;
}

.hero {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #FFF5DE;
  border-bottom: 1px solid #C8B48C;
  border-top: 1px solid #C8B48C;
  border-right: 1px solid #C8B48C;
  border-left: 1px solid #C8B48C;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.hero > h1 {
  margin-bottom: 0px;
  text-align: center;
  padding-top: 0px;
}

/*Stretch class to make elements stretch across the screen*/
.stretch {
  width: 100%;
}

/* miscellaneous (formatting the debug info) */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	padding: 10px;
	height: auto;
	margin-bottom: 15px;
	@include box_sizing;
}

#error_explanation {
  color:#f00;
  ul {
	list-style: none;
	margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}